venv
*.pth
env
browser_base_translation/outputs/*
.env
outputs/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*

.vscode/settings.json
node_modules/
extension/
extension.zip
extension.zip.1
extension.crx
shared
*.pyc
logging.log
temp/

# for create temporal ssl certification
ssl/*.key
ssl/*.pem
ssl/*.srl
ssl/*.csr
ssl/*.ext
ssl/*.crt
.DS_Store

*.zip
